<div class="tablet">
<div class="login_box mx-auto text-center ">
   <div class="title">
      <h1>InkGrow</h1>
   </div>
   <div class="sub_title">
      <p>誇れる絵を創る・育てる</p> 
   </div>
   <div class="login_link">
      <%= render "devise/shared/links" %>
   </div>
</div>
</div>
