.posts_button {
  a {
      margin: 0 8px;
  }
}

.tweet_user img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.tweet_user a{
  color: #a9a9a9;
}

.card {
  height: 250px;
  
}

.card-title a {
  color: #000000;
}

.card-body {
  padding: 0;
  font-size: 12px;

}

.card_image {
  height: 150px;
  margin: auto 0;
}

.card_image img {
  width: 100%;
  height: auto;
  max-height: 150px;
  border-radius: 10%;
  
}

.post_menu {
  text-align: right;
}

#liked_userlist   {
  width: 150px;
  background-color: #ffffff;
}

.under_line {
  border-bottom:dotted;
  border-width:2px;
}

.comments {
  height: 75px;
}


.comment {
  width: 80%;
  float: left;
}

.delete_btn {
  padding-top: 20px;
  width: 20%;
}

#img_prev {
  width: 300px;
}

#post_img {
  width: auto;
}

.prev_box {
  width: 100%;
  background-color: #24140e;
  text-align: center;
}