.posts_button {
  a {
      margin: 0 8px;
  }
}

.tweet_user img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.tweet_user a{
  color: #a9a9a9;
}


.post_menu {
  display: flex;
}



#liked_list{
  width: 40%;
  height: 60%;
  background-color: #ffffff;
  position: fixed;
  top: 20%;
  left: 30%;
  z-index: 2;
  overflow: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: none;
  border:double;
  border-width:3px;
  border-color: #4b0082;
  padding: 10px;
}

.under_line {
  border-bottom:dotted;
  border-width:1px;
  border-color: #a9a9a9;
}

.comments {
  height: 75px;
}


.comment {
  width: 80%;
  float: left;
}

.delete_btn {
  padding-top: 20px;
  width: 20%;
  text-align: right;
}

#img_prev {
  width: 300px;
}

#post_img {
  width: 123px;
}

.prev_box {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-color: #24140e;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.prev_image img {
  width: 60%;
  max-height: 400px;
  background-color: #ffffff;
}

.prev_image {
  text-align: center;
}


.form-group {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}


.wrapp{
  display: flex;
  flex-direction: column;
}