.login_box {
  background-color:#ffffff;
  border-radius: 5%;
  opacity: 0.8;
  width: 80%;
  height: 75%;
  margin: 0 auto;
  margin-top: 60px;
}

.tablet {
  background: linear-gradient(-180deg, #666666 0%, #333333 10%, #1a1a1a 50%, #333333 90%, #666666 100%);
  width: 60%;
  height: 75%;
  position: absolute;
  top: 20%;
  left: 25%;
  border-radius: 3%;
  min-width: 250px;

}

.title {
  color: #90ee90;
  margin: 0 auto;
  padding-top: 20px;
  width: 70%;

  
}


.row {
  height: 100%;
}

.login_link {
  width: 60%;
  height: 40px;
  font-size: 12px;
  border-radius: 5%;
  background-color: #6495ed;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 10px;
}

.login_link a {
 color: #ffffff;
}

.contents {
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow:scroll;
  height: 100%;
  
}







.users_nav ul {
  border-bottom:double;
  border-color:#006400;
  border-width:3px;
}

.nav {
    margin-bottom: 10px;
}

li {
  width: 100px;
  text-align: center;
  margin-bottom: 0px;
  
}

.active {
  background:linear-gradient(transparent 70%, #90ee90 0%);
  margin: 0;
  padding: 0;
  
}

.nonactive {
  margin: 0;
  padding: 0;
}

.createdtime {
  float: right;
}

